@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.5rem;

  --primary: oklch(0.83 0.0989 86.61);
  --secondary: oklch(0.63 0.0814 78.3);

  --background-primary: oklch(1 0 0);
  --background-secondary: oklch(0.97 0.0025 345.21);

  --foreground-primary: oklch(0.26 0.0112 293.24);
  --foreground-secondary: oklch(1 0 0);
  --foreground-thirdly: oklch(0 0 0);
  --foreground-muted: oklch(0.76 0 0);

  --border-primary: oklch(0.89 0 0);

  --accent-primary: oklch(0.83 0.0989 86.61);

  --ring-primary: oklch(0.83 0.0989 86.61);

  --destructive-primary: oklch(0.5315 0.1141 21.68);
}

@theme inline {
  --font-montserrat: var(--montserrat);
  --font-alegreya: var(--alegreya);
  --font-chibola: var(--chibola);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-background-primary: var(--background-primary);
  --color-background-secondary: var(--background-secondary);

  --color-foreground-primary: var(--foreground-primary);
  --color-foreground-secondary: var(--foreground-secondary);
  --colr-foreground-thirdly: var(--foreground-thirdly);
  --color-foreground-muted: var(--foreground-muted);

  --color-border-primary: var(--border-primary);

  --color-accent-primary: var(--accent-primary);

  --color-ring-primary: var(--ring-primary);

  --color-destructive-primary: var(--destructive-primary);
}

@layer base {
  * {
    border-color: var(--border-primary);
  }

  html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
  }

  body {
    height: 100vh;
    margin: 0 !important;
    background-color: var(--background-primary);
    color: var(--foreground-primary);
    font-family: var(--montserrat);
    font-weight: 400;
    line-height: 150%;
    overscroll-behavior: none;
  }
}

@layer utilities {
  .text-shadow-promo-title {
    text-shadow:
      2px 2px 3px rgba(0, 0, 0, 0.7),
      -2px 2px 3px rgba(0, 0, 0, 0.7),
      2px -2px 3px rgba(0, 0, 0, 0.7),
      -2px -2px 3px rgba(0, 0, 0, 0.7),
      0px 2px 3px rgba(0, 0, 0, 0.7),
      0px -2px 3px rgba(0, 0, 0, 0.7),
      2px 0px 3px rgba(0, 0, 0, 0.7),
      -2px 0px 3px rgba(0, 0, 0, 0.7);
  }
}
